    .formAuth {
        background: var(--backgroundColor);

        width: clamp(19.25rem, 70vw, 25rem);

        margin: 10rem auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1rem;

        border: 1px solid #71C9CE;
        border-radius: 6.25rem 0.2rem 6.25rem 0.2rem;

        box-shadow: 0 .1em .5em #333;

        span {
            color: var(--buttonBackground);

            font-size: clamp(1.875rem, 4vw, 3rem);
            font-weight: 700;
            font-family: 'Roboto', sans-serif;
            margin: 2rem;

            text-shadow: 0px 4px 4px rgba(113, 201, 206, 0.7);
        }

        div {
            background: var(--backgroundColorInput);

            padding: 0.5rem;
            display: flex;
            align-items: center;
            gap: .5rem;

            border-radius: 0.375rem;
            box-shadow: inset 0 0 0.4em #333;

            &+div {
                margin-top: 1rem;
            }
        }

        input {
            background: transparent;
            color: var(--letterColor);
            width: 90%;

            // padding: .5rem;

            // font-size: 1.3rem;
            font-size: 1rem;
            font-size: 2rem;
            font-size: clamp(1rem, 1.3vw, 2rem);

            font-weight: 400;
            font-family: 'Poppins', sans-serif;

            border: none;
        }

        ::placeholder {
            color: var(--letterColor);
        }

        p {
            color: var(--letterColor);

            font-size: .8rem;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;

            margin-top: .5rem;
            align-self: baseline;
            text-decoration: underline;
            cursor: pointer;
            transition: filter .3s;

            &:hover {
                filter: opacity(70%);
            }
        }

        button[type="submit"] {
            background: var(--buttonBackground);
            color: var(--buttonColor);

            margin-top: 1.5rem;
            padding: .5rem 1.5rem;

            font-size: 1.125rem;
            font-weight: 700;
            font-family: 'Roboto', sans-serif;

            border: none;
            border-radius: .625rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                filter: brightness(.95);
            }

            &:active {
                transform: scale(.90);
            }
        }
    }